{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% include 'head.html' %}
</head>
<body>
	{%include 'navbar.html' %}
	<div class="container-fluid py-3">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-xlg-9 col-md-8">
            <div class="card">                            
                <h3 class="card-title m-t-10 text-center">Esqueceu sua senha?</h3>
                <h5 class="text-center">Informe seu email, sua senha será enviada para ele.</h5>
                <br>
                <form class="form-horizontal">
                    {% for field in form %}
                        <div class="form-group">                            
                            <div class="col-md-12">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}                    
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">Enviar</button>
                        </div>
                    </div>
                    <a href="{% url 'url_signin' %}">Lembrou sua senha?</a>  
                </form>
            </div>
        </div>
    </div>
</div>	
</body>
</html>