{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}
</head>
<body>
  <div class="container text-center py-5>
    <div class="btn-group-vertical">
    	{% if not user.is_authenticated %}
		    <a href="{% url 'login' %}" class="btn btn-primary">Entrar</a>
		    <a href="{% url 'url_register' %}" class="btn btn-primary">Cadastrar</a>
	    {% endif %}

	    {% if user.is_authenticated %}
	    	<a href="{% url 'url_create_character' %}" class="btn btn-primary">Jogar</a>
	    	<a href="{% url 'url_profile' %}" class="btn btn-primary">Perfil</a>
	    	<a href="{% url 'url_ranking' %}" class="btn btn-primary">Ranking</a>
	    	<a href="#" class="btn btn-primary">Ajuda</a>
	    	<a href="#" class="btn btn-primary">Sobre</a>
	    	<a href="{% url 'url_logout' %}" class="btn btn-danger">Sair</a>
	    {% endif %}
    </div> 
  </div>
</body>
</html>