{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}
</head>
<body>
  {% include 'navbar.html' %}
  <div class="container text-center py-3">
  	<h2>Bem vindo a Vila Attena!</h2> 
    <img id="Attena" class="img-fluid mx-auto rounded" src="{% static 'sistema/images/cidade.png' %}" width="550" height="400">
    <div class="buttonbar">  
    	<br>        
    	<div class="col-md-12"></div>    		
    		<a href="{% url 'url_signin' %}" class="btn  btn-lg btn-primary">Entrar</a>
      	<a href="{% url 'url_signup' %}" class="btn btn-lg btn-primary">Cadastrar</a>      	
    	</div>
   	</div>
  </div>
</body>
</html>