{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}
</head>
<body>
  {% include 'navbar.html' %}
    <div id="main-wrapper">        
        <div class="container-fluid py-3">            
            <div class="row">                    
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card p-2">                        
                        <div class="card-block">                                                        
                            <center class="m-t-30"><img src="{% static 'sistema/images/usuario.png' %}" class="img-circle" width="150" />
                            <h4 class="card-title m-t-10"><b>{{ user.first_name }} {{user.last_name}}</b></h4>  
                            <h5 class="card-title m-t-10"><b>{{ user.username }}</b></h5>                                                        
                        </div>                        
                    </div>
                </div>                
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card p-2">                                                    
                        <h3 class="card-title m-t-10 text-center"><b>Perfil do Usuário</b></h3>                 
                        <div class="card-block">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <h5><b>Nome:</b> {{ user.first_name }}</h5>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <h5><b>Sobrenome:</b> {{ user.last_name }}</h5>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <h5><b>Data de Nascimento:</b> {{ user.userprofile.birthdate }}</h5>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <h5><b>Nome de Usuário:</b> {{ user.username }}</h5>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <h5><b>E-mail:</b> {{ user.email }}</h5>
                                </div>
                            </div>                                                                                
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <a href="{% url 'url_edit_profile' %}" class="btn btn-lg btn-primary btn-block">Editar Informações</a>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>                    
            </div>                
        </div>
    </div>        
</body>
</html>