<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}
</head>
<body>
  <div class="container-fluid py-3">
    <h1 class="text-center"><b>Ranking</b></h1>
    <table class="table table-striped table-dark table-hover">
      <thead class="thead-light">
        <tr>
          <th>Posição</th>
          <th>Nome</th>
          <th>Pontuação</th>
          <th>Tempo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>A</td>
          <td>100</td>
          <td>10:00</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>B</td>
          <td>90</td>
          <td>11:00</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>C</td>
          <td>80</td>
          <td>12:00</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>D</td>
          <td>70</td>
          <td>13:00</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>E</td>
          <td>60</td>
          <td>14:00</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>F</td>
          <td>50</td>
          <td>15:00</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>G</td>
          <td>40</td>
          <td>16:00</td>
        </tr>           
      </tbody>
    </table>
    <a class="btn btn-primary float-left" href="{% url 'url_home' %}">Voltar</a>
  </div>
</body>
</html>