<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}
</head>
<body>
  {% include 'navbar.html' %}
  <div class="container-fluid py-3">
      <div class="row justify-content-center">
          <div class="col-lg-5 col-xlg-9 col-md-7">
              <div class="card">                            
                  <h3 class="card-title m-t-10 text-center">Acesse sua conta</h3>                  
                  <form class="form-horizontal" method="POST">
										{% for field in form %}
	                    <div class="form-group">	                        
	                    	<div class="col-md-12">
	                    		<b>{{ field.label_tag }}</b>
	                    		{{ field }}
	                    	</div>
	                    </div>
	                  {% endfor %}	                    
	                  <div class="form-group">
	                   	<div class="col-sm-12">
	                    	<button type="submit" class="btn btn-lg btn-primary btn-block">Cadastrar</button>
	                    </div>
	                  </div>                      
                    <a href="{% url 'url_forgetPassword' %}">Esqueceu sua senha?</a>
                    <br>
                    <a href="{% url 'url_signup' %}">Não é cadastrado?</a>
                  </form>
              </div>
          </div>
      </div>
  </div>	
</html>