* {
  outline: none; }

@font-face {
    font-family: pixel;
    src: url(../fonts/Pixellari.ttf);
}

body {
  background: #F0FFF0;
  font-family: pixel;
  margin: 0;
  font-weight: 400;
}

a:hover, a:focus {
  text-decoration: none;
  color: #337ab7;
}

.card {
  background-image: url(../images/wood.jpg);  
  color: white;
  text-shadow: 3px 2px black;
  font-size: 25px;
}

.card a {
  color: white;
}

.card a:hover {
  color: #337ab7;
}

.btn-primary,
.btn-primary.disabled {
  background-color: #00B2EE;
  text-shadow: 3px 2px black;
  border: none;
  font-size: 25px;
 }

.form-control {  
  min-height: 20px;
}

.form-group {
  margin-bottom: 25px;
}

.form-group input {
  color: white;
  text-shadow: 2px 2px black;
}

.form-group input:focus {
  color: black;
  text-shadow: 1px 1px white;
}

.form-horizontal label {
  margin-bottom: 0px;
}

.page-titles h3 {
  margin-bottom: 0px;
  margin-top: 8px; }

.page-titles {
  padding-bottom: 20px; }

.form-control {
  background-color: transparent;
  background-position: center bottom, center calc(100% - 1px);
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 1px;
  padding: 0;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 20px;
  -webkit-transition: background 0s ease-out 0s;
  -o-transition: background 0s ease-out 0s;
  transition: background 0s ease-out 0s;
}

.form-control,
.form-control.focus,
.form-control:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00B2EE), to(#00B2EE)), -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#d9d9d9));
  border: 0 none;
  box-shadow: none;
}

.form-control.focus,
.form-control:focus {
  background-size: 100% 2px, 100% 1px;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}