<!DOCTYPE html>
<html>
<head>
  {% include 'head.html' %}
</head>
<body>
  {% include 'navbar.html' %}

  {% if user.is_authenticated %}
  <h2 class="text-center">Você já está logado em uma conta, faça logout para poder acessar essa página!</h2>
  {% else %}
  <div class="container-fluid py-3">
      <div class="row justify-content-center">
          <div class="col-lg-5 col-xlg-9 col-md-7">
              <div class="card p-3">                            
                  <h3 class="card-title m-t-10 text-center"><b>Acesse sua conta</b></h3>                  
                  <form class="form-horizontal" method="POST">	
                  		{% csrf_token %}	
	                    <div class="form-group">	                        
	                    	<div class="col-md-12">
	                    		<b>{{ form.username.label_tag }}</b>
	                    		{{ form.username }}	                    				                   
	                    	</div>
	                    </div>	  
	                   	<div class="form-group">	                        
	                    	<div class="col-md-12">
	                    		<b>{{ form.password.label_tag }}</b>
	                    		{{ form.password }}	  
	                    		{{ form.non_field_errors }}                  		
	                    	</div>
	                    </div>	               	                   
	                  <div class="form-group">
	                   	<div class="col-sm-12">
	                    	<button type="submit" class="btn btn-lg btn-primary btn-block">Entrar</button>
	                    </div>
	                  </div>                      
                    <a href="{% url 'reset_password' %}">Esqueceu seu nome de usuário ou senha?</a>
                    <br>
                    <a href="{% url 'url_register' %}">Não é cadastrado?</a>
                  </form>
              </div>
          </div>
      </div>
  </div>
  {% endif %}
	
</html>