{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% include 'head.html' %}
</head>
<body>
	{%include 'navbar.html' %}
	<div class="container-fluid py-3">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-xlg-9 col-md-8">
            <div class="card p-2">                            
                <h1 class="card-title m-t-10 text-center"><b>Informe sua nova senha</b></h1>
                <h4 class="card-title m-t-10 text-center">Por favor, insira sua nova senha duas vezes, para podermos verificar se você a digitou corretamente</h4>
                <br>
                <form class="form-horizontal" method="POST">                    
                    <div class="form-group">                            
                       	<div class="col-md-12">
                           	{% csrf_token %}
                            <b>{{ form.new_password1.label_tag }}</b>                     
                            <input type="password" class="form-control" name="new_password1" required="" id="id_new_password1">
                            {{ form.new_password1.errors }}
                            <br>
                            <b>{{ form.new_password2.label_tag }}</b>                      
                            <input type="password" class="form-control" name="new_password2" required="" id="id_new_password2">
                            {{ form.new_password2.errors }}   
                        </div>
                    </div>                                      
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">Alterar minha senha</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>	
</body>
</html>