{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% include 'head.html' %}
</head>
<body>
  <div class="container-fluid py-3">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-xlg-9 col-md-8">
            <div class="card p-2">                            
                <h1 class="card-title m-t-10 text-center"><b>Redefinição de senha concluída</b></h1>
                <h4 class="card-title m-t-10 text-center">Sua senha já foi alterada, você já pode voltar a jogar!</h4>                
                <a class="btn btn-danger" href="{% url 'login' %}">Acessar minha conta</a>               
            </div>
        </div>
    </div>
  </div>	
</body>
</html>