{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% include 'head.html' %}
</head>
<body>
	{%include 'navbar.html' %}
	<div class="container-fluid py-3">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-xlg-9 col-md-8">
            <div class="card p-2">                            
                <h3 class="card-title m-t-10 text-center"><b>Esqueceu seus dados de acesso ou deseja alterar sua senha?</b></h3>
                <h5 class="text-center">Informe seu email, seu usuário e formulário de redefinição de senha serão enviados para ele</h5>
                <br>
                <form class="form-horizontal" method="POST">                    
                    <div class="form-group">                            
                       	<div class="col-md-12">
                           	{% csrf_token %}
                            <b>{{ form.email.label_tag }}</b>    
                            <input type="email" class="form-control" name="email" required="true" id="id_email">            
                        </div>
                    </div>                                      
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-lg btn-primary btn-block">Enviar</button>
                        </div>
                    </div>
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">Lembrou seus dados?</a>  
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>	
</body>
</html>