{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% include 'head.html' %}
</head>
<body>
	{%include 'navbar.html' %}
	<div class="container-fluid py-3">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-xlg-9 col-md-8">
            <div class="card p-2">                            
                <h1 class="card-title m-t-10 text-center"><b>Informações enviadas!</b></h1>
                <h4 class="text-center">
                	Lhe enviamos um email contendo seu nome de usuário e um formulário de redefinição de senha.
                	<br>
                	<br>
                	Se não recebeu nenhum email, certifique-se de ter informado o email correto ou verifique sua caixa de spam.
            	</h4>
                <br>
            </div>
        </div>
    </div>
</div>	
</body>
</html>